backups/Ai_Research_Guide.json
{"updatedAt":"2026-03-24T08:54:12.992Z","createdAt":"2026-03-24T08:53:46.244Z","id":"Mqsvlqaj8Z30Sp3C","name":"Ai Research Guide","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const body = $input.first().json;\n\nconst topic  = body.topic  || body.query || body.message || '';\nconst domain = body.domain || 'general';\nconst level  = body.level  || 'PhD';\nconst userId = body.userId || 'anonymous';\nconst path   = body.routePath || 'research';\n\nif (!topic || topic.trim().length < 5) {\n  return [{\n    json: {\n      success:   false,\n      error:     'Topic must be at least 5 characters.',\n      routePath: path\n    }\n  }];\n}\n\n// Only run needed agents based on path\nconst runAllAgents    = path === 'research';\nconst runAdvisorOnly  = path === 'advisor';\nconst runChatOnly     = path === 'chat';\n\nreturn [{\n  json: {\n    topic:         topic.trim(),\n    domain:        domain.trim(),\n    level,\n    userId,\n    routePath:     path,\n    runAllAgents,\n    runAdvisorOnly,\n    runChatOnly,\n    timestamp:     new Date().toISOString(),\n    requestId:    `req_${Date.now()}`\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,416],"id":"103fd48c-efda-4113-8817-b337bd903120","name":"orchestrator"},{"parameters":{"httpMethod":"POST","path":"api","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1024,400],"id":"035978b2-0250-4f6a-b306-6b5665c48843","name":"Webhook","webhookId":"7ae70165-4330-4d62-95af-85e2923db108"},{"parameters":{"promptType":"define","text":"=Domain: {{$json.domain}}\nTopic: {{$json.topic}}\n\nProvide:\n(A) Current state of research\n(B) Key research gaps\n(C) Active sub-fields\n(D) Methodological trends","options":{"systemMessage":"You are a rigorous academic research analyst. Your ONLY job is to identify verifiable, peer-reviewed knowledge about the given research topic.\n\nYou MUST:\n1. Only state facts you are confident about.\n2. Cite publication types (e.g. 'Studies in Nature, 2020-2023 show...')\n3. Flag any uncertainty with [UNCERTAIN]\n4. Never fabricate author names, DOIs, or statistics\n5. Focus on research gaps and open problems\n\nIf you lack sufficient knowledge, say so explicitly."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-240,80],"id":"13f892af-3611-4a02-b4a3-210abcf5fc48","name":"Research scout"},{"parameters":{"jsCode":"const output = $input.first().json.output || \n               $input.first().json?.choices?.[0]?.message?.content || \n               'No response from Research Scout';\n\nreturn [{\n  json: {\n    agent: 'Agent 1 — Research Scout',\n    role: 'Literature landscape & research gaps',\n    output: output,\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,80],"id":"f428d814-ebec-46b6-8150-7766e9f20566","name":"Research Scout Output"},{"parameters":{"promptType":"define","text":"=Scholar's interest area: {{$json.topic}}\nDomain: {{$json.domain}}\n\nProvide:\n(A) 3-5 refined topic options with specificity\n(B) Selection criteria for each\n(C) Feasibility score 1-10 for each\n(D) Recommended methodology for each option","options":{"systemMessage":"You are a PhD thesis advisor with expertise in academic topic selection.\nYour role is to help scholars choose research topics that are: novel,\nfeasible, publishable, and impactful.\n\nYou MUST:\n1. Ground all advice in established academic norms\n2. Distinguish between 'definitely feasible' and 'speculative'\n3. Suggest 3-5 concrete, SPECIFIC topic variants — not vague generalities\n4. Highlight supervisor availability factors\n5. Never invent conference names, journals, or researcher names\n\nFor each topic option provide: a feasibility score (1-10) with\njustification and a recommended methodology."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-144,480],"id":"607a6f86-2e49-426d-bed7-187ad6153112","name":"Topic advisor"},{"parameters":{"jsCode":"const output = $input.first().json.output || \n               $input.first().json?.choices?.[0]?.message?.content || \n               'No response from Topic Advisor';\n\nreturn [{\n  json: {\n    agent:     'Agent 2 — Topic Advisor',\n    role:      'Refined topic options with feasibility scores',\n    output:    output,\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,528],"id":"d1a0af95-e3e0-4d1b-8601-cebbc8e6b99e","name":"topic advisor output"},{"parameters":{"promptType":"define","text":"=Scholar's proposed topic: {{$json.topic}}\nDomain: {{$json.domain}}\n\nProvide:\n(A) Why this topic matters now\n(B) Industry and societal relevance\n(C) Potential career pathways\n(D) One honest caution about this topic area","options":{"systemMessage":"You are a conversational AI assistant embedded in a PhD research tool.\nYou synthesize insights for the scholar in a warm, encouraging, but\nacademically rigorous tone.\n\nYou MUST:\n1. Highlight real-world impact potential\n2. Connect topic to career outcomes\n3. Point out interdisciplinary opportunities\n4. Warn about oversaturated sub-fields\n5. Always clarify when something is your analysis vs. established fact"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[160,288],"id":"4263532a-de18-4cdf-af8f-d2f01332a049","name":"Agent 3 — AI Assistant"},{"parameters":{"jsCode":"const output = $input.first().json.output || \n               $input.first().json?.choices?.[0]?.message?.content || \n               'No response from AI Assistant';\n\nreturn [{\n  json: {\n    agent:     'Agent 3 — AI Assistant',\n    role:      'Career relevance & usefulness insights',\n    output:    output,\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,304],"id":"0336ff4e-305e-48d9-9d74-c38797a263ef","name":"Ai assistant code"},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// For sequential flow — all data comes through Agent 3\nconst agent1Output = input.agent1Output || input.output || '';\nconst agent2Output = input.agent2Output || input.output || '';\nconst agent3Output = input.output || '';\n\nreturn [{\n  json: {\n    success:   true,\n    requestId: input.requestId || `req_${Date.now()}`,\n    timestamp: new Date().toISOString(),\n    topic:     input.topic     || '',\n    domain:    input.domain    || '',\n    agents: {\n      researchScout: {\n        agent:  'Agent 1 — Research Scout',\n        role:   'Literature landscape & research gaps',\n        output: agent1Output\n      },\n      topicAdvisor: {\n        agent:  'Agent 2 — Topic Advisor',\n        role:   'Refined topic options with feasibility scores',\n        output: agent2Output\n      },\n      aiAssistant: {\n        agent:  'Agent 3 — AI Assistant',\n        role:   'Career relevance & usefulness insights',\n        output: agent3Output\n      }\n    },\n    disclaimer: 'Verify all outputs with primary academic sources.'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304],"id":"fd9233e4-97c9-402a-b65a-6e77c1b60c88","name":"Merge & Format Output"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1056,624],"id":"5f42364d-ae57-4ba0-9a48-48dbe9bb8fe9","name":"Respond to Webhook"},{"parameters":{"jsCode":"const body = $input.first().json;\nconst email    = body.email    || '';\nconst password = body.password || '';\n\nif (!email || !password) {\n  return [{\n    json: {\n      success: false,\n      error: 'Email and password are required'\n    }\n  }];\n}\n\nif (!email.includes('@')) {\n  return [{\n    json: {\n      success: false,\n      error: 'Invalid email format'\n    }\n  }];\n}\n\nif (password.length < 6) {\n  return [{\n    json: {\n      success: false,\n      error: 'Password must be at least 6 characters'\n    }\n  }];\n}\n\nconst userId = Buffer.from(email).toString('base64');\nconst token  = `jwt_${userId}_${Date.now()}`;\n\nreturn [{\n  json: {\n    success: true,\n    token,\n    refreshToken: `refresh_${userId}_${Date.now()}`,\n    expiresIn: 86400,\n    user: {\n      id:     userId,\n      name:   email.split('@')[0],\n      email:  email,\n      avatar: null,\n      plan:   'free'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,928],"id":"77a1d4a4-38c2-4342-a423-d26d443cba69","name":"Handle Login"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"cdae3c1d-4e47-4970-aee5-156ec36f21a5","leftValue":"={{ $json.isSignup }}","rightValue":"true ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-528,928],"id":"3dc6067e-9baa-4dd5-949e-63009ca6b92a","name":"Is signup"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c920e378-6a06-47c5-a4b4-d62dd37cdf48","leftValue":"={{ $json.isLogin }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-608,400],"id":"af429efb-f286-4004-ada4-a51397a373fe","name":"Is Login?"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\nconst path = body.path || \n             headers['x-request-path'] || \n             'research';\n\nconst cleanPath = path.replace('/', '').trim();\n\nreturn [{\n  json: {\n    ...body,\n    routePath:  cleanPath,\n    isLogin:    cleanPath === 'login',\n    isSignup:   cleanPath === 'signup',\n    isResearch: cleanPath === 'research',\n    timestamp:  new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,400],"id":"16c771af-9b46-4a01-8db3-072409431039","name":"Router"},{"parameters":{"jsCode":"const body = $input.first().json;\nconst name     = body.name     || '';\nconst email    = body.email    || '';\nconst password = body.password || '';\n\nif (!name || !email || !password) {\n  return [{\n    json: { success: false, error: 'Name, email and password are required' }\n  }];\n}\n\nif (!email.includes('@')) {\n  return [{\n    json: { success: false, error: 'Invalid email format' }\n  }];\n}\n\nif (password.length < 6) {\n  return [{\n    json: { success: false, error: 'Password must be at least 6 characters' }\n  }];\n}\n\nconst userId = Buffer.from(email).toString('base64');\nconst token  = `jwt_${userId}_${Date.now()}`;\n\nreturn [{\n  json: {\n    success: true,\n    token,\n    refreshToken: `refresh_${userId}_${Date.now()}`,\n    expiresIn: 86400,\n    user: {\n      id:     userId,\n      name:   name,\n      email:  email,\n      avatar: null,\n      plan:   'free'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,928],"id":"4f00d713-9753-44ed-af26-0661cafe3994","name":"Handle signup"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-768,240],"id":"fd0b3592-6b20-4692-984e-8f33b81e9231","name":"Google Gemini Chat Model"},{"parameters":{"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-272,688],"id":"38602bde-a974-4538-ae70-cd1838319b50","name":"Google Gemini Chat Model1"},{"parameters":{"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[192,720],"id":"1fe96442-22b6-45e3-8030-d18e524de8bb","name":"Google Gemini Chat Model2"}],"connections":{"orchestrator":{"main":[[{"node":"Research scout","type":"main","index":0},{"node":"Topic advisor","type":"main","index":0},{"node":"Agent 3 — AI Assistant","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Router","type":"main","index":0}]]},"Research scout":{"main":[[{"node":"Research Scout Output","type":"main","index":0}]]},"Research Scout Output":{"main":[[{"node":"Merge & Format Output","type":"main","index":0}]]},"Topic advisor":{"main":[[{"node":"topic advisor output","type":"main","index":0}]]},"topic advisor output":{"main":[[{"node":"Merge & Format Output","type":"main","index":0}]]},"Agent 3 — AI Assistant":{"main":[[{"node":"Ai assistant code","type":"main","index":0}]]},"Ai assistant code":{"main":[[{"node":"Merge & Format Output","type":"main","index":0}]]},"Merge & Format Output":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Handle Login":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Is signup":{"main":[[{"node":"Handle signup","type":"main","index":0}],[{"node":"orchestrator","type":"main","index":0}]]},"Is Login?":{"main":[[{"node":"Handle Login","type":"main","index":0}],[{"node":"Is signup","type":"main","index":0}]]},"Router":{"main":[[{"node":"Is Login?","type":"main","index":0}]]},"Handle signup":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Research scout","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Topic advisor","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Agent 3 — AI Assistant","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"atul0404.app.n8n.cloud","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36","content-length":"119","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","authorization":"Bearer jwt_cGFuZGV5YXR1bDE4OUBnbWFpbC5jb20=_1774172585196","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2401:4900:1f39:2317:d5b8:4ac:3bf8:5198","cf-ew-via":"15","cf-ipcountry":"IN","cf-ray":"9e044117fe9ea7ac-DEL","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","origin":"https://c968ca3d-3a0d-42e3-8f23-96e95ee7f9a4.lovableproject.com","priority":"u=1, i","referer":"https://c968ca3d-3a0d-42e3-8f23-96e95ee7f9a4.lovableproject.com/","sec-ch-ua":"\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"2401:4900:1f39:2317:d5b8:4ac:3bf8:5198, 162.158.142.207","x-forwarded-host":"atul0404.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-58-5c4cdbcf49-5jr4b","x-is-trusted":"yes","x-real-ip":"2401:4900:1f39:2317:d5b8:4ac:3bf8:5198"},"params":{},"query":{},"body":{"path":"research","topic":"microbiology","domain":"general","level":"PhD","userId":"cGFuZGV5YXR1bDE4OUBnbWFpbC5jb20="},"webhookUrl":"https://atul0404.app.n8n.cloud/webhook/api","executionMode":"production"}}]},"versionId":"37b46c1f-660d-45ac-a1ff-b2c2f47e4c99","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T08:53:46.246Z","createdAt":"2026-03-24T08:53:46.246Z","role":"workflow:owner","workflowId":"Mqsvlqaj8Z30Sp3C","projectId":"ux0kyqVCR78diln4"}],"activeVersion":null,"tags":[]}