backups/Ai_Travel_Planner.json
{"updatedAt":"2026-03-24T08:53:02.196Z","createdAt":"2026-03-24T08:52:41.360Z","id":"b2hSCpEsLdtyPAzY","name":"Ai Travel Planner","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"travel-itinerary","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-160,80],"id":"943603ac-225d-4c00-8acd-481d038d0afc","name":"Webhook","webhookId":"4ef4bf5c-5663-4829-ae47-8c687fd1592b"},{"parameters":{"promptType":"define","text":"=You are a professional travel planner. Create a detailed, day-by-day itinerary based on these details:\n\nLocation: {{$json.body.location}}\nTravel Dates: {{$json.body.dates}}\nTravel Type: {{$json.body.travelType}}\n\nPlease create a comprehensive itinerary that includes:\n- Daily schedule with morning, afternoon, and evening activities\n- Specific restaurant recommendations with cuisine types\n- Must-see attractions with brief descriptions\n- Practical tips for this type of traveler\n- Estimated costs where relevant\n\nFormat the response as a well-structured, easy-to-read itinerary with clear day-by-day sections. Make it engaging and personalized for {{$json.body.travelType}} travelers. Use line breaks and formatting to make it easy to read.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[48,80],"id":"5477b3e8-2a8b-4662-a3b7-0da3b13c105c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-80,288],"id":"52cf0949-6b88-4ecb-9561-2e1857b5e2ba","name":"Google Gemini Chat Model"},{"parameters":{"respondWith":"text","responseBody":"= {\n  \"success\": true,\n \"itinerary\": {{ $json.output }}\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[400,80],"id":"125ecacc-bc23-4243-8d4b-9561844ed9f3","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"bc136941-7662-4b6b-989e-0f724cc932b5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T08:52:41.364Z","createdAt":"2026-03-24T08:52:41.364Z","role":"workflow:owner","workflowId":"b2hSCpEsLdtyPAzY","projectId":"ux0kyqVCR78diln4"}],"activeVersion":null,"tags":[]}