backups/Amazon_customer_support_Agent.json
{"updatedAt":"2026-03-24T08:52:21.638Z","createdAt":"2026-03-24T08:51:18.724Z","id":"MtYxv3GPDcJweZM5","name":"Amazon customer support Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"source":"googleSheets","documentId":{"__rl":true,"value":"18E6FT_tVhAipQF1RSODU5lijEN1vF2aS9BMc3u2b3qU","mode":"list","cachedResultName":"Copy of AI Evals Sample Data Sheet - Amazon Chatbot Evals","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18E6FT_tVhAipQF1RSODU5lijEN1vF2aS9BMc3u2b3qU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":443201729,"mode":"list","cachedResultName":"n8n Agent Input","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18E6FT_tVhAipQF1RSODU5lijEN1vF2aS9BMc3u2b3qU/edit#gid=443201729"}},"type":"n8n-nodes-base.evaluationTrigger","typeVersion":4.7,"position":[-912,176],"id":"7e006fdf-7e0b-4d62-bc5a-bb55884aa168","name":"When fetching a dataset row"},{"parameters":{"promptType":"define","text":"=You are an Amazon customer support agent helping with this customer issue:\n\nCustomer Message: {{ $('When fetching a dataset row').item.json.customer_message }}\nOrder ID: {{ $('When fetching a dataset row').item.json.order_id }}\nIssue Type: {{ $('When fetching a dataset row').item.json.issue_type }}\n\nRules:\n- Be polite and empathetic\n- Do not invent policies\n- If information is missing, ask a clarification question\n- Do NOT mention internal systems\n\nRespond clearly and concisely to help this customer.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-704,176],"id":"5cb58986-7877-4b9a-8d84-8aecef3ab008","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-832,384],"id":"3b8e4725-57b4-4d8c-bc04-9e0421456be5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"C9OrmagTCgjrKsdi","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"checkIfEvaluating"},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[-352,176],"id":"dfa24640-a533-48ee-8e88-223953c43548","name":"Evaluation"},{"parameters":{"source":"googleSheets","documentId":{"__rl":true,"value":"18E6FT_tVhAipQF1RSODU5lijEN1vF2aS9BMc3u2b3qU","mode":"list","cachedResultName":"Copy of AI Evals Sample Data Sheet - Amazon Chatbot Evals","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18E6FT_tVhAipQF1RSODU5lijEN1vF2aS9BMc3u2b3qU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":443201729,"mode":"list","cachedResultName":"n8n Agent Input","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18E6FT_tVhAipQF1RSODU5lijEN1vF2aS9BMc3u2b3qU/edit#gid=443201729"},"outputs":{"values":[{"outputName":"ai_response","outputValue":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[-144,80],"id":"d4b348c4-5691-46c8-b7e9-6e44f78e9d80","name":"Evaluation1"},{"parameters":{"operation":"setMetrics","metric":"customMetrics","metrics":{"assignments":[{"name":"is_polite","value":"={{ $('AI Agent').item.json.output.toLowerCase().includes('thank') || \n   $('AI Agent').item.json.output.toLowerCase().includes('sorry') || \n   $('AI Agent').item.json.output.toLowerCase().includes('help') || \n   $('AI Agent').item.json.output.toLowerCase().includes('assist') ? 1 : 0 }}\n","type":"number","id":"2a4ebea9-e8e3-4a1e-a752-5731f8c7e74f"}]}},"type":"n8n-nodes-base.evaluation","typeVersion":4.8,"position":[64,80],"id":"9a602f9a-0988-4fab-8d08-d291aed13f04","name":"Evaluation2"}],"connections":{"When fetching a dataset row":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Evaluation","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Evaluation":{"main":[[{"node":"Evaluation1","type":"main","index":0}]]},"Evaluation1":{"main":[[{"node":"Evaluation2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"7d94f856-bfe4-4d62-b006-df3b5fa1ecfc","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T08:51:18.729Z","createdAt":"2026-03-24T08:51:18.729Z","role":"workflow:owner","workflowId":"MtYxv3GPDcJweZM5","projectId":"ux0kyqVCR78diln4"}],"activeVersion":null,"tags":[]}