backups/My_workflow.json
{"updatedAt":"2026-03-24T10:10:00.623Z","createdAt":"2026-03-24T09:10:50.588Z","id":"KkNaiC6drTSV24nr","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"1f3d2ebd-f5d2-453e-b096-82e1bb6361a8","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"1280c116-f595-45d4-8d22-4a2a703c436e","name":"Get many workflows","credentials":{"n8nApi":{"id":"Rv0oWvThIF0OMecy","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Atul-22","mode":"list","cachedResultName":"Atul-22","cachedResultUrl":"https://github.com/Atul-22"},"repository":{"__rl":true,"value":"N8N-data-","mode":"list","cachedResultName":"N8N-data-","cachedResultUrl":"https://github.com/Atul-22/N8N-data-"},"filePath":"=backups/{{ $json.name.replaceAll(' ', '_') }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Automated backup of {{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"a1c66470-e339-49e9-9d63-82c5f84c3a91","name":"Create a file","webhookId":"2fea1eb4-b9d8-4d91-a9d9-9ce00d5f1b99","credentials":{"githubApi":{"id":"e5pdOgjyeZkRLFU5","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"65e9cc1c-be93-4a47-a6e5-c1e998add346","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T09:10:50.590Z","createdAt":"2026-03-24T09:10:50.590Z","role":"workflow:owner","workflowId":"KkNaiC6drTSV24nr","projectId":"ux0kyqVCR78diln4"}],"activeVersion":null,"tags":[]}