backups/Stock_analyzer.json
{"updatedAt":"2026-03-24T08:50:36.455Z","createdAt":"2026-03-24T07:24:14.399Z","id":"AHWDlmhuvGjRuczR","name":"Stock analyzer","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"availableInChat":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-80,48],"id":"b1df3d4b-d417-4e8e-b4a3-b108a495c66c","name":"When chat message received","webhookId":"f21571e8-e53f-4ccf-a9f3-f941e85aa61a"},{"parameters":{"promptType":"define","text":"=You are a professional stock market analyst. Analyze the stock ticker symbol: {{ $json.chatInput }}\n\nProvide a concise analysis in the following format:\n\n**Stock: [TICKER SYMBOL]**\n**Current Context:** [Brief 1-2 sentence market context]\n\n**Technical Analysis:**\n- Price trend (bullish/bearish/sideways)\n- Key support and resistance levels\n- Moving average signals\n- Volume analysis\n\n**Fundamental Highlights:**\n- Recent earnings/revenue trends\n- Key financial metrics (P/E, debt ratios)\n- Industry position and competitive advantages\n- Recent news impact\n\n**Recommendation:**\n- **Action:** BUY / HOLD / SELL\n- **Confidence Level:** High/Medium/Low\n- **Price Target:** [If applicable]\n- **Stop Loss:** [If applicable]\n- **Time Horizon:** Short-term (1-3 months) / Medium-term (3-12 months)\n\n**Key Risks:**\n- [List 2-3 main risks to watch]\n\n**Rationale:**\n[2-3 sentences explaining the recommendation]\n\nKeep the analysis under 300 words total. Focus on actionable insights for retail investors.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[128,48],"id":"ea7c4eff-7794-4e3a-88a6-9fd9149fb651","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,256],"id":"7c21000f-3d7a-4092-a5f8-a4126bf0d0a9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"C9OrmagTCgjrKsdi","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[144,256],"id":"d7982514-4d15-452a-a9b5-c7cf761a37a8","name":"Simple Memory"},{"parameters":{"sendTo":"pandeyatul189@gmail.com","subject":"=Stock analysis of  {{ $('When chat message received').item.json.chatInput }}","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[480,48],"id":"8bbe1629-edea-4a68-aaad-1f354746c3f8","name":"Send a message","webhookId":"e7d73905-acca-458d-ac38-56f8ccc8aaa6"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"7bafcc24-4f8f-4aea-9b89-04b1500d801a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T07:24:14.407Z","createdAt":"2026-03-24T07:24:14.407Z","role":"workflow:owner","workflowId":"AHWDlmhuvGjRuczR","projectId":"ux0kyqVCR78diln4"}],"activeVersion":null,"tags":[]}